/Yurchuk/Abstract Factory/Properties
/Yurchuk/Abstract Factory/.vs
/Yurchuk/Builder/Properties
/Yurchuk/Builder/.vs
/Yurchuk/Builder/bin
/Yurchuk/Builder/obj
/Yurchuk/Command/bin
/Yurchuk/Command/obj
/Yurchuk/Command/.vs
/Yurchuk/Factory Method/Properties
/Yurchuk/Factory Method/.vs
/Yurchuk/Factory Method/bin
/Yurchuk/Factory Method/obj
/Yurchuk/Observer/Observer/Properties
/Yurchuk/Observer/Observer/.vs
/Yurchuk/Observer/Observer/bin
/Yurchuk/Observer/Observer/obj
/Yurchuk/Prototype/obj
/Yurchuk/Prototype/Properties
/Yurchuk/Prototype/.vs
/Yurchuk/Prototype/bin
/Yurchuk/Singleton/obj
/Yurchuk/Singleton/Properties
/Yurchuk/Singleton/.vs
/Yurchuk/Singleton/bin
/Yurchuk/Strategy/obj
/Yurchuk/Strategy/Properties
/Yurchuk/Strategy/.vs
/Yurchuk/Strategy/bin
/Yurchuk/TemplateMethod/Properties
/Yurchuk/TemplateMethod/.vs
/Yurchuk/TemplateMethod/bin
/Yurchuk/TemplateMethod/obj
